<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TPClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <applicationSettings>
        <TPClient.Properties.Settings>
            <setting name="MQTT_BROKER_ADDRESS" serializeAs="String">
                <value>mqtt.fluux.io</value>
            </setting>
            <setting name="MQTT_BROKER_PORT" serializeAs="String">
                <value>1833</value>
            </setting>
            <setting name="MQTT_SUBSCRIBE" serializeAs="String">
                <value>YOUR MQTT SUBSCRIBE URL</value>
            </setting>
            <setting name="MQTT_PUBLISH" serializeAs="String">
                <value>YOUR MQTT PUBLISH URL</value>
            </setting>
        </TPClient.Properties.Settings>
    </applicationSettings>
</configuration>
